<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1082232685605-9sucrh5g9li2lhud5sphorpk6gpn3u49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082232685605-9sucrh5g9li2lhud5sphorpk6gpn3u49</string>
	<key>GCM_SENDER_ID</key>
	<string>1082232685605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danhefter.Project-4</string>
	<key>PROJECT_ID</key>
	<string>project-4-ba830</string>
	<key>STORAGE_BUCKET</key>
	<string>project-4-ba830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082232685605:ios:8bcb478ea74292ee</string>
	<key>DATABASE_URL</key>
	<string>https://project-4-ba830.firebaseio.com</string>
</dict>
</plist>